<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test-shop" >
    <listeners>
        <listener class-name="listeners.Listener"/>
    </listeners>

<suite-files>
    <suite-file path="sprint1.xml"/>
</suite-files>
                                    </suite>